@using IMS2.Helpers
@{
    ViewData["Title"] = "Item Master";
    ViewBag.Title = "Item Master";
    ViewBag.pTitle = "Item Master";
    ViewBag.pageTitle = "Item Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card m-2">
            <h5 id="spnSelMFI" class="m-2">Selected MFI: <span id="selectedMFIName">@Context.Request.Cookies["SelectedMFIName"]</span></h5>
        </div>
        <div class="card" id="customerList">
            <div class="card-header border-bottom-dashed">
                <div class="row">
                    <div class="col-md-8">
                        <div>
                            @if (ViewBag.ScreenRightRank == (int)EnumScreenRights.Delete)
                            {
                                <button class="btn btn-danger" id="remove-actions" onClick="deleteMultiple()"><i class="ri-delete-bin-2-line"></i></button>
                            }
                            @if (ViewBag.ScreenRightRank >= (int)EnumScreenRights.Create)
                            {
                                <button type="button" class="btn btn-success add-btn" data-bs-toggle="modal" id="create-btn" data-bs-target="#showModal"><i class="ri-add-line align-bottom me-1"></i> Create</button>
                            }
                            @if (ViewBag.ScreenRightRank >= (int)EnumScreenRights.Create)
                            {
                                <button type="button" class="btn btn-info">
                                    <i class="ri-file-download-line align-bottom me-1"></i>
                                    Import
                                </button>
                            }
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control search" placeholder="Search...">
                    </div>
                </div>
            </div>
            <div class="card-body border-bottom-dashed border-bottom"></div>
            <div class="card-body">
                <div>
                    <div class="table-responsive table-card mb-1">
                        <table class="table align-middle" id="itemTable">
                            <thead class="table-light text-muted">
                                <tr>
                                    <th class="sort" data-sort="Category">Category</th>
                                    <th class="sort" data-sort="Code">Code</th>
                                    <th class="sort" data-sort="Name">Name</th>
                                    <th class="sort" data-sort="ShortDesc">Short Desc</th>
                                    <th class="sort" data-sort="HSNCode">HSN Code</th>
                                    <th class="sort" data-sort="action">Action</th>
                                </tr>
                            </thead>
                            <tbody class="list">
                                @if (ViewData["ItemList"] is List<IMS2.Models.GetItemMasterModel> itemList)
                                {
                                    foreach (var item in itemList)
                                    {
                                        <tr>
                                            <td class="Category">@item.Category</td>
                                            <td class="Code">@item.Code</td>
                                            <td class="Name">@item.Name</td>
                                            <td class="ShortDesc">@item.ShortDesc</td>
                                            <td class="HSNCode">@item.HSNCode</td>
                                            <td>
                                                <ul class="list-inline hstack gap-2 mb-0">
                                                    @if (ViewBag.ScreenRightRank >= (int)EnumScreenRights.Update)
                                                    {
                                                        <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Edit">
                                                            <a href="#" class="text-primary edit-item-btn" data-bs-toggle="modal" data-bs-target="#editModal-@item.DT_RowId" data-id="@item.DT_RowId">
                                                                <i class="ri-pencil-fill fs-16"></i>
                                                            </a>
                                                        </li>
                                                    }
                                                    @if (ViewBag.ScreenRightRank == (int)EnumScreenRights.Delete)
                                                    {
                                                        <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Delete">
                                                            <a href="#" class="text-danger d-inline-block remove-item-btn" onclick="openDeleteModal('@item.DT_RowId')" data-id="@item.DT_RowId">
                                                                <i class="ri-delete-bin-5-fill fs-16"></i>
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <div class="noresult" style="display: none">
                            <div class="text-center">
                                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#121331,secondary:#08a88a"
                                           style="width:75px;height:75px">
                                </lord-icon>
                                <h5 class="mt-2">Sorry! No Result Found</h5>
                                <p class="text-muted mb-0">
                                    We've searched more than 150+ customers
                                    We did not find any
                                    customers for your search.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <div class="pagination-wrap hstack gap-2">
                            <a class="page-item pagination-prev @(ViewBag.PageNumber == 1 ? "disabled" : "")" href="@Url.Action("Index", new { pageNumber = ViewBag.PageNumber - 1, pageSize = ViewBag.PageSize })">
                                Previous
                            </a>
                            <ul class="pagination listjs-pagination mb-0">
                            </ul>
                            <a class="page-item pagination-next @(ViewBag.PageNumber == ViewBag.TotalPages ? "disabled" : "")" href="@Url.Action("Index", new { pageNumber = ViewBag.PageNumber + 1, pageSize = ViewBag.PageSize })">
                                Next
                            </a>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="showModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-light p-3">
                                <h5 class="modal-title" id="exampleModalLabel">Add New Item</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                            </div>
                            <form id="itemCreationForm" action="@Url.Action("CreateUpdateItemMaster", "Item")" method="post">
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="CategoryID" class="form-label">Category</label>
                                        <select class="form-control" id="CategoryID" name="CategoryID">
                                            <option value="">Select Category</option>
                                            @foreach (var category in ViewBag.Categories as List<SelectListItem>)
                                            {
                                                <option value="@category.Value">@category.Text</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="mb-3">
                                        <label for="Code" class="form-label">Code</label>
                                        <input type="text" id="Code" name="Code" class="form-control" placeholder="Enter code" required />
                                    </div>

                                    <div class="mb-3">
                                        <label for="Name" class="form-label">Name</label>
                                        <input type="text" id="Name" name="Name" class="form-control" placeholder="Enter name" required />
                                    </div>

                                    <div class="mb-3">
                                        <label for="ShortDesc" class="form-label">Short Desc</label>
                                        <input type="text" id="ShortDesc" name="ShortDesc" class="form-control" placeholder="Enter short description" required />
                                    </div>

                                    <div class="mb-3">
                                        <label for="HSNCode" class="form-label">HSN Code</label>
                                        <input type="text" id="HSNCode" name="HSNCode" class="form-control" placeholder="Enter HSN code" required />
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" name="action" value="Create" class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Edit Modal -->
                @foreach (var item in ViewData["ItemList"] as List<IMS2.Models.GetItemMasterModel>)
                {
                    <div class="modal fade" id="editModal-@item.DT_RowId" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header bg-light p-3">
                                    <h5 class="modal-title" id="editModalLabel">Edit Item</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form id="editForm-@item.DT_RowId" action="@Url.Action("CreateUpdateItemMaster", "Item")" method="post">
                                    <div class="modal-body">
                                        <input type="hidden" id="EditDT_RowId" name="ID" value="@item.DT_RowId" />

                                        <div class="mb-3">
                                            <label for="EditCategoryID" class="form-label">Category</label>
                                            <select class="form-control" id="EditCategoryID" name="CategoryID">
                                                <option value="@item.CategoryID">@item.Category</option>
                                                @foreach (var category in ViewBag.Categories as List<SelectListItem>)
                                                {
                                                    if (item.Category != category.Text)
                                                    {
                                                        <option value="@category.Value">@category.Text</option>
                                                    }
                                                }
                                            </select>
                                        </div>

                                        <div class="mb-3">
                                            <label for="EditCode" class="form-label">Code</label>
                                            <input type="text" id="EditCode" name="Code" class="form-control" placeholder="Enter code" value="@item.Code" readonly />
                                        </div>

                                        <div class="mb-3">
                                            <label for="EditName" class="form-label">Name</label>
                                            <input type="text" id="EditName" name="Name" class="form-control" placeholder="Enter name" value="@item.Name" required />
                                        </div>

                                        <div class="mb-3">
                                            <label for="EditShortDesc" class="form-label">Short Desc</label>
                                            <input type="text" id="EditShortDesc" name="ShortDesc" class="form-control" placeholder="Enter short description" value="@item.ShortDesc" required />
                                        </div>

                                        <div class="mb-3">
                                            <label for="EditHSNCode" class="form-label">HSN Code</label>
                                            <input type="text" id="EditHSNCode" name="HSNCode" class="form-control" placeholder="Enter HSN code" value="@item.HSNCode" required />
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" name="action" value="Edit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                }
                <!-- End Edit Modal -->
                <!-- Delete Modal -->
                <div class="modal fade" id="deleteRecordModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Confirm Delete</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete this user?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-danger" id="confirmDelete">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Delete Modal -->
            </div>
        </div>
    </div>
</div>

@section scripts {
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- list.js min js -->
    <script src="~/assets/libs/list.js/list.min.js"></script>
    <script src="~/assets/libs/list.pagination.js/list.pagination.min.js"></script>

    <!-- Toastr CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

    <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>

    <!-- Custom JavaScript -->
    <script>
        var deleteId;

        function openDeleteModal(id) {
            deleteId = id;
            console.log('DT_RowId:', id);
            $('#deleteRecordModal').modal('show');
        }

        $(document).ready(function () {
            $('#confirmDelete').click(function () {
                $.ajax({
                    url: '@Url.Action("DeleteItem", "Item")',
                    type: 'DELETE',
                    data: { Id: deleteId },
                    success: function (response) {
                        $('#deleteRecordModal').modal('hide');
                        showSuccessMessage('Item deleted successfully.');
                        location.reload();
                    },
                    error: function (xhr, status, error) {
                        showErrorMessage('Error deleting item.');
                    }
                });
            });

            $(document).ready(function () {
                var userList = new List('customerList', {
                    valueNames: ['Category', 'Code', 'Name', 'ShortDesc', 'HSNCode'],
                    pagination: {
                        innerWindow: 1,
                        outerWindow: 1,
                        paginationClass: 'pagination',
                        paginationItemClass: 'page-item',
                        paginationAnchorClass: 'page-link',
                        paginationActiveClass: 'active'
                    }
                });

                // Search input event handler
                $('.search').on('keyup', function () {
                    var searchString = $(this).val().toLowerCase();
                    userList.search(searchString);
                    userList.update();
                });
            });
        });

        var selectedMFIName = $("#setting-field option:selected").text();
        // retrieve cookie by name
        function getCookie(name) {
            var cookieValue = "";
            if (document.cookie && document.cookie !== "") {
                var cookies = document.cookie.split(";");
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + "=")) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $(document).ready(function () {
            var selectedMFIName = getCookie("SelectedMFIName");
            if (selectedMFIName) {
                $("#selectedMFIName").text(selectedMFIName);
            }
        });

        function showSuccessMessage(message) {
            toastr.success(message);
        }

        function showErrorMessage(message) {
            toastr.error(message);
        }

        $(document).ready(function () {
            var successMessage = "@TempData["SuccessMessage"]";
            if (successMessage) {
                toastr.success(successMessage);
                "@TempData.Remove("SuccessMessage")";
            }

            var errorMessage = "@TempData["ErrorMessage"]";
            if (errorMessage) {
                toastr.error(errorMessage);
                "@TempData.Remove("ErrorMessage")";
            }
        });
    </script>
}
